<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, rgb(255, 39, 39), rgb(255, 56, 242));">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="ms-2 navbar-brand" href="#">MultiMedia <%= NavTitle %></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feature">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api-docs">Docs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Modes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/movies">Movies</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/playstore">PlayStore</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/anime">Anime</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/weather">Weather</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/music">Music</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="dropdown dropstart ms-auto">
            <img class="dropdown-toggle profile" type="button" id="dropdownMenuButton1" src="<%= user.picture %>"
                data-bs-toggle="dropdown" aria-expanded="false">
            <ul class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#"><%= user.name %></a></li>
                <li><a class="dropdown-item" href="mailto:<%= user.email %>"><%= user.email %></a></li>
                <li><a class="dropdown-item" href="/logout" onclick="signOut()">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>