<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <style>
            #logo {
                height: 32px;
            }
        </style>

        <!-- styles  -->
            <link rel="stylesheet" href="/stylesheets/index.css">
            <link rel="stylesheet" href="/stylesheets/movie.css">
            <link rel="stylesheet" href="/stylesheets/navbar.css">

    <!-- font awesome  -->
    <script src="https://kit.fontawesome.com/2c582398a5.js" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

        <style>
            .logo{
                height: 32px;
                border-radius: 50%;
            }
        </style>

    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Movies</title>
</head>

<body>
    <!-- Navbar section  -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ca014b;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../images/icon.jpg" class="logo" style="border-radius: 50%;" alt="">
                    <strong>MultiMedia • Movies</strong></a>
                    <span class="float-right text-light"><%= user.name %>
                        <img class="logo" src=<%= user.picture %>>
                    </span>
            </div>
        </nav>
    <div class="moviecard">
        <center>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="/images/bangubai.jpg" class="d-block w-100 im" alt="..." />
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/pushpa.webp" class="d-block w-100 im" alt="..." />
                    </div>
                    <div class="carousel-item">
                        <img src="/images/sheshaah.jpg" class="d-block w-100 im" alt="..." />
                    </div>
                </div>
            </div>
        </center>
    </div>
    <center>
        <form class="d-flex w90">
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </center>
    <% if(Title !== null) { %>
    <section class="movies">
        <div class="mcontain">
            <div class="mcontent">
                <center>
                    <table class="mtable">
                        <tr>
                            <td class="mtd" id="mno-border" colspan="2">
                                <h1 id="mtitle"><%= Title %> </h1>
                            </td>
                        </tr>
                        <tr>
                            <td class="mtd">IMDb RATING</td>
                            <td class="mtd">VOTES</td>
                        </tr>

                        <tr>
                            <td class="mtd">⭐ <%= imdbRating%>/10</td>
                            <td class="mtd"><%= imdbVotes %></td>
                        </tr>
                    </table>
                    <%= Year %> • <%= Rated %> • <%= Runtime %>
                </center>

                <img style="border-radius: 10%; box-shadow: 0 2px 20px #101010" alt="poster" align="right"
                    src=<%= Poster %> />
                <dl>
                    <dt class="mdt">
                        <span class="mspan">Released</span>
                    <dd><%= Released %></dd>
                    </dt>
                    <dt class="mdt">
                        <span class="mspan">Catagory</span>
                    <dd><%= Genre %></dd>
                    </dt>
                    <dt class="mdt">
                        <span class="mspan">About</span>
                    <dd>
                        <p id="mabout"><%= Plot %></p>
                    </dd>
                    </dt>
                    <dt class="mdt">
                        <span class="mspan">Writers</span>
                    <dd><%= Writer %></dd>
                    </dt>
                    <dt class="mdt">
                        <span class="mspan">Actors</span>
                    <dd><%= Actors %></dd>
                    </dt>
                </dl>
            </div>
        </div>
    </section>
    <% } %>
    <nav class="navbar-container">
        <ul class="list">
            <div style="--position: 0;" data-indicator class="indicator">
                <div class="corners"></div>
            </div>
            <li><a href="/movies" class="active">
                    <div class="icon">
                        <svg class="navsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M326.1 160l127.4-127.4C451.7 32.39 449.9 32 448 32h-86.06l-128 128H326.1zM166.1 160l128-128H201.9l-128 128H166.1zM497.7 56.19L393.9 160H512V96C512 80.87 506.5 67.15 497.7 56.19zM134.1 32H64C28.65 32 0 60.65 0 96v64h6.062L134.1 32zM0 416c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V192H0V416z" />
                        </svg>
                    </div>
                    <div class="text">Cinema</div>
                </a></li>
            <li><a href="/playstore">
                    <div class="icon">
                        <svg class="navsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z" />
                        </svg>
                    </div>
                    <div class="text">PlayStore</div>
                </a></li>
            <li><a href="/anime">
                    <div class="icon">
                        <svg class="navsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256.3 331.8C208.9 331.8 164.1 324.9 124.5 312.8C112.2 309 100.2 319.7 105.2 331.5C130.1 390.6 188.4 432 256.3 432C324.2 432 382.4 390.6 407.4 331.5C412.4 319.7 400.4 309 388.1 312.8C348.4 324.9 303.7 331.8 256.3 331.8H256.3zM176.4 176C158.7 176 144.4 190.3 144.4 208C144.4 225.7 158.7 240 176.4 240C194 240 208.4 225.7 208.4 208C208.4 190.3 194 176 176.4 176zM336.4 240C354 240 368.4 225.7 368.4 208C368.4 190.3 354 176 336.4 176C318.7 176 304.4 190.3 304.4 208C304.4 225.7 318.7 240 336.4 240z" />
                        </svg>
                    </div>
                    <div class="text">Animes</div>
                </a></li>
            <li><a href="/weather">
                    <div class="icon">
                        <svg class="navsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path
                                d="M176 322.9l.0002-114.9c0-8.75-7.25-16-16-16s-15.1 7.25-15.1 16L144 322.9c-18.62 6.625-32 24.25-32 45.13c0 26.5 21.5 48 48 48s48-21.5 48-48C208 347.1 194.6 329.5 176 322.9zM272 278.5V112c0-61.87-50.12-112-111.1-112S48 50.13 48 112v166.5c-19.75 24.75-32 55.5-32 89.5c0 79.5 64.5 143.1 144 143.1S304 447.5 304 368C304 334 291.8 303.1 272 278.5zM160 448c-44.13 0-80-35.87-80-79.1c0-25.5 12.25-48.88 32-63.75v-192.3c0-26.5 21.5-48 48-48s48 21.5 48 48v192.3c19.75 14.75 32 38.25 32 63.75C240 412.1 204.1 448 160 448z" />
                        </svg>
                    </div>
                    <div class="text">Weather</div>
                </a></li>
            <li><a href="/music">
                    <div class="icon">
                        <svg class="navsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M511.1 367.1c0 44.18-42.98 80-95.1 80s-95.1-35.82-95.1-79.1c0-44.18 42.98-79.1 95.1-79.1c11.28 0 21.95 1.92 32.01 4.898V148.1L192 224l-.0023 208.1C191.1 476.2 149 512 95.1 512S0 476.2 0 432c0-44.18 42.98-79.1 95.1-79.1c11.28 0 21.95 1.92 32 4.898V126.5c0-12.97 10.06-26.63 22.41-30.52l319.1-94.49C472.1 .6615 477.3 0 480 0c17.66 0 31.97 14.34 32 31.99L511.1 367.1z" />
                        </svg>
                    </div>
                    <div class="text">Musify</div>
                </a></li>
        </ul>
    </nav>
    <script src="javascript/navbar.js"></script>
    <script src="javascript/signout.js"></script>
</body>

</html>