<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <style>
            #logo {
                height: 32px;
            }
        </style>

        <!-- styles  -->
            <link rel="stylesheet" href="/stylesheets/index.css">
            <link rel="stylesheet" href="/stylesheets/movie.css">
            <link rel="stylesheet" href="/stylesheets/navbar.css">

    <!-- font awesome  -->
    <script src="https://kit.fontawesome.com/2c582398a5.js" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

        <style>
            .logo{
                height: 32px;
                border-radius: 50%;
            }
        </style>

    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Movies</title>
</head>

<body>
    <!-- Navbar section  -->
        <%- include('_navbar') %>
    <div class="moviecard">
    </div>
    <center>
        <form class="d-flex w90" method="post">
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </center>
    <% if(Title !== null) { %>
        <% if(err) { %>
            <h5 class="alert-danger p-3 text-center m-3"><%= err %></h5>
            <% } else { %>
                <section class="movies">
                    <div class="mcontain">
                        <div class="mcontent">
                            <center>
                                <table class="mtable">
                                    <tr>
                                        <td class="mtd" id="mno-border" colspan="2">
                                            <h1 id="mtitle"><%= Title %> </h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtd">IMDb RATING</td>
                                        <td class="mtd">VOTES</td>
                                    </tr>
            
                                    <tr>
                                        <td class="mtd">⭐ <%= imdbRating%>/10</td>
                                        <td class="mtd"><%= imdbVotes %></td>
                                    </tr>
                                </table>
                                <%= Year %> • <%= Rated %> • <%= Runtime %>
                            </center>
                            <div class="row">
                            <div class="col-lg-6">
                            <img class="mt-5" style="border-radius: 10%; box-shadow: 0 2px 20px #101010" alt="poster"
                                src=<%= Poster %> />
                                </div>
                                <div class="col-lg-6">
                            <dl>
                                <dt class="mdt">
                                    <span class="mspan">Released</span>
                                <dd><%= Released %></dd>
                                </dt>
                                <dt class="mdt">
                                    <span class="mspan">Catagory</span>
                                <dd><%= Genre %></dd>
                                </dt>
                                <dt class="mdt">
                                    <span class="mspan">About</span>
                                <dd>
                                    <p id="mabout"><%= Plot %></p>
                                </dd>
                                </dt>
                                <dt class="mdt">
                                    <span class="mspan">Writers</span>
                                <dd><%= Writer %></dd>
                                </dt>
                                <dt class="mdt">
                                    <span class="mspan">Actors</span>
                                <dd><%= Actors %></dd>
                                </dt>
                            </dl>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
        
        <% } %>
    <% } %>

    <script src="javascript/navbar.js"></script>
    <script src="javascript/signout.js"></script>
</body>

</html>